<template name="_comment">
  <div class="item item-text-wrap comment-item">

<!--
    {{#with author}}
      <a href="{{pathFor 'users.show'}}" class="comment-item-author">
        {{> avatar user=this size="small" shape="circle"}}
        {{profile.name}}
      </a>
    {{/with}}
  -->
  {{#with author}}
    <a href="{{pathFor 'resume'}}">
      {{author}}test
    </a>
  {{/with}}


  <p class="date-posted">
    {{datePosted}}
  </p>
    <p>
      {{body}}
    </p>
  <br>
    <p>
      {{> _upVoteButton}}
      {{numberOfupVotes}}

    <!--  {{> ionIcon icon="ios-chatbubble" }}-->
  </p>


</div>
</template>
