<template name="newComment">
  {{#ionModal customTemplate=true}}
    {{#autoForm collection="Comments" id="comments-new-form" type="insert"}}
      <div class="bar bar-header bar-stable">
        <button data-dismiss="modal" type="button" class="button button-clear">取消</button>
        <h2 class="title">你的答案</h2>
        <button type="submit" class="button button-positive button-clear">提交</button>
      </div>
      <div class="content has-header overflow-scroll">
        {{> afQuickField name='productId' type="hidden" value=productId label=false}}
        {{> afQuickField name='body'}}
      </div>
    {{/autoForm}}
  {{/ionModal}}
</template>
